.gerenciador-usuarios-container{
  width: 100%;
  height: 100vh;
  padding: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #fff;
  background-color: #000;
}
.modal-aviso{
  width: 100%;
  max-width: 300px;
  padding: 15px;

  position: fixed;
  top: -80px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9;
  transition: .3s;

  display: flex;
  align-items: center;
  justify-content: flex-start;

  border-radius: 5px;
  border-left: 2px solid var(--primaria);
  background-color: #444;
}
.modal-aviso > h1{
  font-size: 16px;
}
.active-modal-aviso{
  top: 30px;
}

.create-user-box{
  width: 100%;
  max-width: 400px;
}
.create-user-box > h1{
  margin-bottom: 10px;
}
.create-user-box a{
  width: 200px;
  padding: 10px 0;
  margin: 10px auto;

  display: flex;
  align-items: center;
  justify-content: center;

  text-decoration: none;
  color: #fff;

  border-radius: 5px;
  background-color: var(--primaria);
}
.info-user-box{
  width: 100%;
  height: 100%;
  padding: 20px 0;

  display: flex;
  align-items: flex-start;

  border-top: 1px solid #888;
  border-bottom: 1px solid #888c;
}
.photo-user{
  position: relative;
}
.photo-user img{
  width: 130px;
  border-radius: 5px;
}
.photo-user span{
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);

  font-size: 30px;
  color: #fff;
}

.info-user{
  width: 100%;
  margin-left: 20px;

  display: flex;
  flex-direction: column;
}
.info-user label{
  font-size: 14px;
  font-weight: 400;
}
.info-user input{
  width: 100%;
  padding: 10px;

  outline: none;
  border: 0;
  border-bottom: 1px solid #888;
  background-color: transparent;
  color: #fff;
}
.info-user button{
  width: 100%;
  padding: 10px 0;
  margin-top: 25px;

  outline: none;
  cursor: pointer;

  border: 0;
  border-radius: 5px;
  background-color: var(--primaria);
  
  font-size: 15px;
  color: #fff;
}

.modal-photo-user-container{
  width: 100%;
  height: 100vh;
  padding: 0 20px;

  position: fixed;
  top: 0;
  left: 0;

  opacity: 0;
  visibility: hidden;
  transition: .3s;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.6);
}
.background-modal{
  width: 100%;
  height: 100vh;

  position: absolute;
  top: 0;
  left: 0;
}
.modal-photo-user{
  width: 500px;
  padding: 20px;
  z-index: 5;

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;

  border-radius: 5px;
  background-color: #222;
}
.modal-photo-user img{
  width: 100%;
  max-width: 130px;
  margin: 10px;
  cursor: pointer;
}
.active-modal-photo-user{
  opacity: 1;
  visibility: visible;
}